<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Colour range</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="colour-range.css">
    </head>

    <body>

        <h1>Colour range</h1>

        <div id="colour-range">
            <section>
                <label for="input-nColours">Number of colours: {{ colourRange }}</label>
                <input id="input-nColours" type="range" min="1" max="20" step="1" v-model="colourRange">
            </section>

            <section>
                <h2>Initial colour</h2>
                <form>
                    <div class="control-row">
                        <label for="input-red">R:</label>
                        <span class="control-value">{{ red }}</span>
                        <input id="input-red" type="range" min="0" max="255" :value="red" v-on:input="updateHSL($event, 'red')">

                        <label for="input-hue">H:</label>
                        <span class="control-value">{{ hue }}</span>
                        <input id="input-hue" type="range" min="0" max="255" v-model="hue">
                    </div>
                    <div class="control-row">
                        <label for="input-green">G: </label>
                        <span class="control-value">{{ green }}</span>
                        <input id="input-green" type="range" min="0" max="255" :value="green" v-on:input="updateHSL($event, 'green')">
                        <label for="input-saturation">S:</label>
                        <span class="control-value">{{ saturation }}</span>
                        <input id="input-saturation" type="range" min="0" max="1" step="0.01" v-model="saturation">
                    </div>
                    <div class="control-row">
                        <label for="input-blue">B: </label>
                        <span class="control-value">{{ blue }}</span>
                        <input id="input-blue" type="range" min="0" max="255" :value="blue" v-on:input="updateHSL($event, 'blue')">
                        <label for="input-lightness">L:</label>
                        <span class="control-value">{{ lightness }}</span>
                        <input id="input-lightness" type="range" min="0" max="1" step="0.01" v-model="lightness">
                    </div>
                </form>
            </section>

            <section>
                <h2>Colours</h2>

                <div>
                    <span v-for="colour in colours" class="colour-block" v-bind:style="getStyle(colour)">
                    </span>
                </div>
            </section>
        </div>

        <script src="colour-range.js"></script>

    </body>
</html>